In [1]:
import numpy as np
import pandas as pd
import matplotlib.dates as mdates

In [2]:
def tau_x_y(wind_speed,component):
    temp_list = np.zeros(wind_speed.shape)
    for i in range(len(wind_speed)):
        if wind_speed[i]<11:
            temp = (1.3*1.2e-3)*wind_speed[i]*component[i] # EW surface wind stress for low wind speed
            temp_list[i]=temp
        else:
            temp = (1.3*1.2e-3)*(0.49+0.065*wind_speed[i])*wind_speed[i]*component[i] # EW surface wind stress for high wind speed
            temp_list[i]=temp     
    return temp_list

In [3]:
df = pd.read_csv("met_data_svalbard_lufthavn.csv",delimiter=";",skipfooter=1,na_values='-',engine="python")
df.drop(columns=["Station"])
df['Time'] = pd.to_datetime(df['Time'], format='%d.%m.%Y %H:%M')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4812 entries, 0 to 4811
Data columns (total 8 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Name                   4812 non-null   object
 1   Station                4812 non-null   object
 2   Time                   4812 non-null   datetime64[ns]
 3   Air temperature        4812 non-null   float64
 4   Mean wind speed        4812 non-null   float64
 5   Wind direction         4753 non-null   float64
 6   Cloud cover            1604 non-null   float64
 7   Relative air humidity  4812 non-null   int64
dtypes: datetime64[ns](1), float64(4), int64(1), object(2)
memory usage: 300.9+ KB

## Wind component conversion from met-coordinates (0 deg from N) to wind stress
## Calculate wind stress based on Large & pond (1981)

In [4]:
df["u10"] = -df["Mean wind speed"]*np.sin(df["Wind direction"]/360*2*np.pi)
df['taux'] = tau_x_y(df['Mean wind speed'],df['u10'])
df["v10"] = -df["Mean wind speed"]*np.cos(df["Wind direction"]/360*2*np.pi)
df['tauy'] = tau_x_y(df['Mean wind speed'],df['v10'])

## Calculate wind stress based on Large & pond (1981)

In [5]:
rhoa = 1.3           # Air density in kg/m3
C    = 2.0e-3        # Heat transfer coefficient (sensible + latent heat flux including evaporation effects)
cp   = 1004          # Specific heat at constant pressure for dry air in J/(deg kg)
Ts   = -1.865         # Ocean surface temperature, assumed constant. -1.865 = freezing point for surface seawater with salinity Sw = 34.
es   = 0.98          # Sea surface emissivity
sig  = 5.67e-8       # Stefan-Boltzmann constant
alpha= 0.1           # Albedo of open water
S0   = 1353          # The sun constant in W/m2
psi  = 77.75         # Latitude of the polynya in Degrees
r    = 7.5           # Constant
b    = 237.3         # Constant

length = df["Time"].to_numpy().shape[0]

In [6]:
FT = (rhoa*C*cp)*df["Mean wind speed"]*(df["Air temperature"]-Ts) # Turbulent flux (sensible + latent). Ta-Ts, differensial=>can use degree Celsius
FL = -es*(sig*(Ts*np.ones(length)+273.15)**4)                       # Balckbody radiation form the ocean. Ts+273.15=degree Kelvin
ea = 0.7829*(1+0.2232*(df["Cloud cover"]/8)**(2.75))               # The effective air emissivity
FB = (ea*(sig*(df["Air temperature"]+273.15)**4))                  # Balckbody radiation form the atms. Simonsen & Haugan (1996), in deg. Kelvin
k  = 1-0.6*(df["Cloud cover"]/8)**3                                # Cloud correction term
vp = (df["Relative air humidity"]/100)*6.11*10**(r*df['Air temperature']/(b+df['Air temperature']))       # Vapor pressure

In [7]:
day_of_year = df["Time"].dt.day_of_year
year = df['Time'].dt.year
month = df['Time'].dt.month
day = df['Time'].dt.day
hour = df["Time"].dt.hour
#print(year,month,day,hour,day_of_year)

i  = 23.44*np.cos((360/365)*(172-day_of_year)*2*np.pi/360)
hour_s = hour+2                               #Sun hour = 2 hours behind local time
sun_hour_angle  = (12-hour_s)*15                                  #Sun hour angle

coszp = np.sin(psi*np.pi/180)*np.sin(i*np.pi/180)+np.cos(psi*np.pi/180)*np.cos(i*np.pi/180)*np.cos(sun_hour_angle)
coszp[coszp<0]=0
Q0 = ((S0*coszp**2)/(1.085*coszp+(2.7+coszp)*vp*1e-3+0.1))
FS = (1-alpha)*k*Q0
Fnet = FT+FL-FB-FS

In [11]:
output = pd.DataFrame()
output['time']=df['Time']
output['sw'] = FS
output['lw'] = FL + FB
output['qlat'] = np.zeros(df['Time'].to_numpy().shape)
output['qsens'] = FT
output['tx'] = df['taux']
output['ty'] = df['tauy']
output['precip'] = np.zeros(df['Time'].to_numpy().shape)

output_xr = output.to_xarray()
 
output_xr.to_netcdf(path="test.nc", mode='w')

<xarray.Dataset>
Dimensions:  (index: 4812)
Coordinates:
  * index    (index) int64 0 1 2 3 4 5 6 ... 4805 4806 4807 4808 4809 4810 4811
Data variables:
    time     (index) datetime64[ns] 2020-10-01T01:00:00 ... 2021-04-19T12:00:00
    sw       (index) float64 0.0 nan nan 0.0 nan nan ... nan nan 207.4 nan nan
    lw       (index) float64 -7.198 nan nan -22.01 nan ... nan -7.198 nan nan
    qlat     (index) float64 0.0 0.0 0.0 0.0 0.0 0.0 ... 0.0 0.0 0.0 0.0 0.0 0.0
    qsens    (index) float64 4.036 13.79 10.85 0.0 ... 66.1 79.7 107.6 63.62
    tx       (index) float64 0.0002472 0.002283 -0.0001176 ... 0.1214 0.05305
    ty       (index) float64 3.474e-05 -0.001318 0.002243 ... 0.1172 0.07577
    precip   (index) float64 0.0 0.0 0.0 0.0 0.0 0.0 ... 0.0 0.0 0.0 0.0 0.0 0.0

,time,sw,lw,qlat,qsens,tx,ty,precip
0,2020-10-01 01:00:00,0.0,-7.197521,0.0,4.035678,0.000247,0.000035,0.0
1,2020-10-01 02:00:00,NaN,NaN,0.0,13.794659,0.002283,-0.001318,0.0
2,2020-10-01 03:00:00,NaN,NaN,0.0,10.854043,-0.000118,0.002243,0.0
3,2020-10-01 04:00:00,0.0,-22.008610,0.0,0.000000,-0.000000,-0.000000,0.0
4,2020-10-01 05:00:00,NaN,NaN,0.0,20.473367,0.005698,0.004954,0.0